<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile page</title>
</head>
    <body>

        <h1>Your account!</h1>
        <span th:text="${account.getUsername()}">name</span>


        <div>

            <h2>Choose profile (account) to follow:</h2>

            <ol>
                <li th:each="account : ${accounts}">
                    <span th:text="${account.username}">msg</span>
                </li>
            </ol>

            <br>

            <h2>Your followers:</h2>

        </div>

        <a href="images">Goto images</a>


    </body>
</html>