<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<head th:replace="fragments/layout :: header(navBarName=${user.getName()})">
    <meta charset="UTF-8">
    <title>Profile page</title>
</head>


<body>

    <!-- ****************-->
    <!-- FRIENDS PROFILE -->
    <!-- ****************-->


    <div class="jumbotron text-center" style="background-color: #c7f3ff">
        <h1><span th:text="${friend.getName()} + '´s profile'"></span></h1>
    </div>

    <div class="container">

        <div class="row">

            <!--PROFILE PIC & INFO CARD-->
            <div class="col-sm-4">

                <div class="card" style="width: 300px; border-color: darkgoldenrod">

                    <img class="card-img-top" th:src="@{/gallery/{nickname}/{id}/content(nickname=${friend.getNickname()}, id=${friend.getProfilePicId()})}" +
                         onerror="this.src='https://picsum.photos/640/360'" alt="Profile picture"/>
                    <div class="card-body">

                        <div>
                            <span th:if="${isFollowing}">

                                <p><span th:text="${friend.getName()} + ' is following you.'"></span></p>

                                <!--BLOCKING-->
                                <div style="margin-bottom: 15px;">
                                    <span th:if="${user.getBlockedAt().contains(friend)}">
                                        <p th:text="${'You have blocked ' + friend.getName() + '!'}"></p>
                                    </span>
                                    <span th:unless="${user.getBlockedAt().contains(friend)}">
                                        <form th:action="@{/account/{nickname}(nickname=${friend.getNickname()})}" +
                                              th:method="POST"><input type="submit" value="Block user"></form>
                                    </span>
                                </div>
                                </span>
                            <h4><a th:href="@{/gallery/{nickname}(nickname=${friend.getNickname()})}">Photo gallery</a></h4>
                        </div>

                    </div>
                </div>

            </div>

            <div class="col-sm-8">

                <!--NEWSFEED-->
                <div class="media-border p-3" style="background-color: #9bf7ba">

                    <span th:each="message: ${newsfeed}">

                            <a th:href="@{/account/{nickname}/(nickname=${message.getAccount().getNickname()})}">
                                <img th:src="@{/gallery/{nickname}/{id}/content(nickname=${message.getAccount().getNickname()}, id=${message.getAccount().getProfilePicId()})}" +
                                     onerror="this.src='https://picsum.photos/640/360'" alt="Profile picture" class="mr-3 mt-3 rounded" style="width: 50px; height: 50px; margin-bottom: 15px"/>
                            </a>
                            <p th:text="${message.getContent()}" style="color: darkblue; font-size: large"></p>

                            <!-- MESSAGE INFO-->
                            <span th:text="'Posted by ' + ${message.getAccount().getName()} + ' on ' +
                                ${#temporals.format(message.getDateTime(), 'dd.MM.yyyy hh:mm')} + '   '" style="font-style: italic; font-size: small; margin-bottom: 10px">Post date</span>

                            <!--MESSAGE LIKES-->
                            <span class="badge" th:text="${'Likes: ' + message.getLikedAccounts().size()}" style="background-color: #7dd699; margin-bottom: 10px">Like</span>

                               <form th:action="@{/account/{nickname}/{id}(nickname=${user.getNickname()}, id=${message.getId()})}"  +
                                         th:method="POST"><input type="submit" value="Like" class="btn btn-outline-success" style="margin-bottom: 10px">
                                </form>


                            <div class="media-border p-3" style="background-color: #c7f3ff">

                                <div class="media-body">

                                        <!-- POST A COMMENT-->
                                        <form th:action="@{/account/{nickname}/{id}(nickname=${user.getNickname()}, id=${message.getId()})}" +
                                              th:method="POST">
                                                    <input type="text" name="comMsg" placeholder="Add a comment" class="form-control"/>
                                                    <input type="submit" value="Post" class="btn btn-outline-primary" style="margin-top: 10px"/>
                                        </form>


                                    <!--LIST ALL COMMENTS-->
                                        <span th:each="comment: ${message.getComments()}">

                                            <p>
                                            <a th:href="@{/account/{nickname}/(nickname=${comment.getAccount().getNickname()})}">
                                                <img th:src="@{/gallery/{nickname}/{id}/content(nickname=${comment.getAccount().getNickname()}, id=${comment.getAccount().getProfilePicId()})}" +
                                                     onerror="this.src='https://picsum.photos/640/360'" alt="Profile picture" class="mr-3 mt-3 rounded" style="width: 40px; height: 40px"/>
                                            </a>
                                            <p th:text="${comment.getContent()}" style="color: crimson"></p>
                                            <span th:text="'Posted by ' + ${comment.getAccount().getName()} + ' on ' +
                                                ${#temporals.format(comment.getDateTime(), 'dd.MM.yyyy hh:mm')} + '   '" style="font-style: italic; font-size: small">Post date</span>
                                            </p>
                                        </span>

                                </div>
                            </div>

                    </span>
                </div>

            </div>

        </div>

    </div>

    <footer th:replace="fragments/layout"></footer>

</body>
</html>