<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>

        <h1>This profile belongs to your friend:</h1>


        <h2 th:text="${account.getUsername()}">name</h2>


        <a th:href="@{/gallery/{nickname}(nickname=${account.getNickname()})}">Photo gallery</a>    <!-- changed gallery path -->

        <a href="/users">Back to friend list</a>


    </body>
</html>