<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<head th:replace="fragments/layout :: header">
    <meta charset="UTF-8">
    <title>Gallery</title>


</head>
<body>


<h1 th:text="${account.getName()} + 's photo gallery!'">gallery owner</h1>

<div th:each="image: ${account.getPicGallery()}">
    <div class="gallery">
        <div class="row">
            <div class="col-4">
                <span>
                    <a th:href="@{/gallery/{nickname}/{id}/content(nickname=${account.getNickname()}, id=${image.getId()})}">
                        <img th:src="@{/gallery/{nickname}/{id}/content(nickname=${account.getNickname()}, id=${image.getId()})}" alt="image" class="img-thumbnail">
                    </a>
                    <p th:text="${image.getDescription()}" style="font-size: small"></p>
                </span>

                <!--ADD LIKE-->
                <span th:text="${'Likes: ' + image.getLikedAccounts().size()}">Number of likes</span>
                <form th:action="@{/gallery/{nickname}/{id}(nickname=${account.getNickname()}, id=${image.getId()})}"  +
                      th:method="POST"><input type="submit" value="Like" name="likeImg"/>
                </form>


                <span>
                    <!-- POST A COMMENT-->
                    <form th:action="@{/gallery/{nickname}/{id}/(nickname=${account.getNickname()}, id=${image.getId()})}" +
                          th:method="POST">
                                <p>Post a comment: </p>
                                <input type="text" name="comImg"/>
                                <input type="submit" value="Post"/>
                    </form>
                    <!--LIST ALL COMMENTS-->
                    <span th:each="comment: ${image.getCommentList()}">
                        <p th:text="${comment.getAccount().getName()} + ' commented on ' +
                            ${#temporals.format(comment.getDateTime(), 'dd.MM.yyyy hh:mm')}" style="color: crimson"></p>
                        <p th:text="${comment.getContent()}" style="color: crimson; font-weight: bold"></p>
                    </span>
                </span>

            </div>
        </div>
    </div>
</div>



</body>
</html>