<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>

        <h1>This profile belongs to your friend:</h1>


        <h2 th:text="${name}">name</h2>

        <img src="" alt="dick pic here">
        <br>

        <h2>Wall:</h2>
        <ul>
            <li th:each="message: ${account.getMessageList()}">
                <span> <p th:text="${message.getContent()}"></p>
                    <p th:text="'posted by: ' + ${message.getAccount().getUsername()} + '; ' +
                                                ${#temporals.format(message.getDateTime(), 'dd.MM.yyyy hh:mm')}">message</p>
                </span>

            </li>
        </ul>


        <a th:href="@{/gallery/{nickname}(nickname=${account.getNickname()})}">Photo gallery</a>
        <a href="/users">Back to friend list</a>


    </body>
</html>