<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<head th:replace="fragments/layout :: header(navBarName=${user.getName()})">
    <meta charset="UTF-8">
    <title>Gallery</title>
</head>

<body style="background-color: azure">

<div class="jumbotron" style="background-color: #c7f3ff">

    <h1 align="center" th:text="${account.getName()} + '´s photo gallery'"></h1>

</div>


<div class="container">
    <div class="row">
        <div class="col-sm-8">

            <div th:each="image: ${account.getPicGallery()}">
                <div class="row">

                    <div class="card" style="margin-top: 20px; margin-right: 20px; padding: 10px; background-color: #9bf7ba">

                        <div class="card-img-top">

                            <p th:text="${image.getDescription()}" style="font-style: italic; color: darkred"></p>
                            <a th:href="@{/gallery/{nickname}/{id}/content(nickname=${account.getNickname()}, id=${image.getId()})}">
                                <img th:src="@{/gallery/{nickname}/{id}/content(nickname=${account.getNickname()}, id=${image.getId()})}" +
                                     class="img-thumbnail" style="margin-bottom: 10px">
                            </a>

                        </div>

                        <div class="card-body">

                            <div>

                                <!--ADD LIKE-->
                                <span th:text="${'Likes: ' + image.getLikedAccounts().size()}" class="badge badge-success" style="margin-bottom: 10px">Number of likes</span>
                                <form th:action="@{/gallery/{nickname}/{id}(nickname=${account.getNickname()}, id=${image.getId()})}"  +
                                      th:method="POST"><input type="submit" class="btn btn-outline-success" value="Like" name="likeImg" +
                                                              style="margin-bottom: 10px"/>
                                </form>
                            </div>

                            <div class="media-border p-3" style="background-color: #c7f3ff">

                                <div class="media-body">

                                    <!-- POST A COMMENT-->
                                    <form th:action="@{/gallery/{nickname}/{id}/(nickname=${account.getNickname()}, id=${image.getId()})}" +
                                          th:method="POST">
                                        <input type="text" name="comImg" placeholder="Add a comment" class="form-control"/>
                                        <input type="submit" value="Post" class="btn btn-outline-primary" style="margin-top: 10px; margin-bottom: 10px"/>
                                    </form>

                                    <span th:each="comment: ${image.getCommentList()}">

                                        <p>
                                            <a th:href="@{/account/{nickname}/(nickname=${comment.getAccount().getNickname()})}">
                                                <img th:src="@{/gallery/{nickname}/{id}/content(nickname=${comment.getAccount().getNickname()}, id=${comment.getAccount().getProfilePicId()})}" +
                                                     onerror="this.src='https://picsum.photos/640/360'" alt="Profile picture" class="mr-3 mt-3 rounded" style="width: 40px; height: 40px"/>
                                            </a>
                                        </p>

                                        <p th:text="${comment.getContent()}" style="color: crimson"></p>
                                        <span th:text="'Posted by ' + ${comment.getAccount().getName()} + ' on ' +
                                            ${#temporals.format(comment.getDateTime(), 'dd.MM.yyyy hh:mm')} + '   '" style="font-style: italic; font-size: small">Post date</span>

                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>


    </div>


</div>

<footer th:replace="fragments/layout :: footer"></footer>

</body>


</html>