<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<head>
    <title>Welcome to Tweeter! -Login-</title>
</head>
<body style="background-color: azure">


<div class="container">
    <h2 style="margin-left: 0; margin-bottom: 20px; margin-top: 20px">Please log in</h2>
    <div class="form-group">
            <form name="f" th:action="@{/login}" method="post">
                    <div th:if="${param.error}" class="alert alert-error" style="background-color: #ff5769">
                        Invalid username and password.
                    </div>
                    <div th:if="${param.logout}" class="alert alert-success">
                        You have been logged out.
                    </div>
                    <p>
                        <input type="text" id="username" name="username" class="form-control" placeholder="Username"/>
                    </p>
                    <p>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password"/>
                    </p>
                    <p>
                        <input type="submit" value="Log in" class="btn btn-primary"/>
                    </p>
            </form>
        <div>
            <p>New user? Register <a href="/register">here!</a></p>
        </div>
    </div>
</div>
</body>
</html>