<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<head th:replace="fragments/layout :: header">
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body style="background-color: azure">

<div class="jumbotron text-center" style="background-color: #c7f3ff">
    <h1>Friends</h1>
</div>


<div class="container-lg">

    <div class="row">

        <!-- FOLLOWING ME-->
        <div class="col-6">

            <h2>My followers:</h2>

            <table class="table table-hover" th:each="account: ${user.getFollowingMe()}">
                <tbody>
                    <tr>
                        <td>

                            <a th:href="@{/account/{nickname}(nickname=${account.getNickname()})}" th:text="${account.getName()}">name</a>

                            <span th:if="${user.getFollowingMeDate().containsValue(account)}">
                              <span th:each="key: ${user.getFollowingMeDate().keySet()}">
                                  <br>
                                  <br>
                                  <i><span th:text="'Followed me since: ' + ${key}"></span></i>
                              </span>
                            </span>


                            <!-- hide follow button if already following or if profile is users own-->
                            <span th:if="${!user.getFollowingAt().contains(account)}">
                                <form th:action="@{/users/{id}(id=${account.getId()})}" method="POST">
                                    <input th:if="${!(user.getId() == account.getId())}" type="submit" value="Follow">
                                </form>
                            </span>

                        </td>
                    </tr>
                </tbody>
            </table>


        </div>

        <!-- FOLLOWING ME-->
        <div class="col-6">

            <h2>I am following:</h2>

            <table class="table table-hover" th:each="account: ${user.getFollowingAt()}">
                <tbody>
                    <tr>
                        <td>

                            <a th:href="@{/account/{nickname}(nickname=${account.getNickname()})}" th:text="${account.getName()}">name</a>

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>



</body>
</html>