<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- TARVIIKO NÄITÄ ALLA OLEVIA TOSIAAN?-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<head th:replace="fragments/layout :: header">
    <meta charset="UTF-8">
    <title>My photo gallery!</title>

    <!-- tyylit katosivat, pitää importtaa takaisin..-->

    <style>
        div.gallery {
            margin: 15px;
            float: left;
            width: 300px;
        }
        div.gallery img {
            width: 75%;
            height: 75%;
        }
    </style>

</head>
<body>

<main class="container">

    <h1 th:text="${account.getUsername()} + 's photo gallery!'">gallery owner</h1>

    <h2>Number of images in gallery: <h2 th:text="${account.getPicGallery().size()}"></h2></h2>


    <div th:each="image: ${account.getPicGallery()}">
        <div class="gallery">
            <div class="row">
                <div class="col-6">

                    <a th:href="@{/gallery/{nickname}/{id}/content(nickname=${account.getNickname()}, id=${image.getId()})}">
                        <img th:src="@{/gallery/{nickname}/{id}/content(nickname=${account.getNickname()}, id=${image.getId()})}" alt="image">
                    </a>
                    <span>
                        <p th:text="${image.getDescription()}" style="font-size: small"></p>
                        <form th:action="@{/gallery/{nickname}/{id}(nickname=${account.getNickname()}, id=${image.getId()})}"
                              th:method="POST"><input type="submit" value="Set as profile picture" name="setProfPic" id="setProfPic"></form>
                    </span>

                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <form method="POST" th:action="@{/mygallery}" enctype="multipart/form-data">
            <input type="file" name="file" id="file"/>
            <p>Description: </p><input type="text" name="description" id="description"/>
            <input type="submit" value="Add"/>
        </form>
    </div>

    <div class="row">
        <form>
            <input type="button" value="Back" onclick="history.back()">
        </form>
    </div>

</main>
</body>
</html>