<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<head th:replace="fragments/layout :: header">
    <meta charset="UTF-8">
    <title>Gallery</title>

    <style>
        .gallery {
            height: 75%;
            width:  75%;
        }
    </style>
</head>



<body style="background-color: azure">

<div class="jumbotron" style="background-color: #c7f3ff">
    <div class="row">
        <div class="col-6">
            <h1 align="center">Your photo gallery</h1>
        </div>
        <div class="col-6">


        </div>
    </div>
</div>

<div class="container">

    <div class="row">

        <div class="col-6">


                    <div th:each="image: ${account.getPicGallery()}">

                            <div class="card" style="margin-top: 20px; margin-right: 20px; padding: 10px; background-color: #9bf7ba">

                                        <div class="card-img-top">

                                            <p th:text="${image.getDescription()}" style="font-style: italic; color: darkred"></p>
                                            <a th:href="@{/gallery/{nickname}/{id}/content(nickname=${account.getNickname()}, id=${image.getId()})}">
                                                <img th:src="@{/gallery/{nickname}/{id}/content(nickname=${account.getNickname()}, id=${image.getId()})}" +
                                                     class="img-thumbnail" style="margin-bottom: 10px">
                                            </a>



                                        </div>

                                        <div>
                                            <!--SET AS PROFILE PICTURE-->
                                            <form th:action="@{/gallery/{nickname}/{id}(nickname=${account.getNickname()}, id=${image.getId()})}"
                                                  th:method="POST"><input type="submit" value="Set as profile picture" name="setProfPic" +
                                                    class="form-control; btn btn-outline-primary" style="margin-bottom: 7px"/>
                                            </form>

                                            <!--ADD LIKE-->
                                            <span th:text="${'Likes: ' + image.getLikedAccounts().size()}" class="badge badge-success" style="margin-bottom: 10px">Number of likes</span>
                                            <form th:action="@{/gallery/{nickname}/{id}(nickname=${account.getNickname()}, id=${image.getId()})}"  +
                                                  th:method="POST"><input type="submit" class="btn btn-outline-success" value="Like" name="likeImg" +
                                                      style="margin-bottom: 10px"/>
                                            </form>
                                        </div>

                                <div class="media-border p-3" style="background-color: #c7f3ff">

                                    <div class="media-body">

                                        <!-- POST A COMMENT-->
                                        <form th:action="@{/gallery/{nickname}/{id}/(nickname=${account.getNickname()}, id=${image.getId()})}" +
                                              th:method="POST">
                                            <input type="text" name="comImg" placeholder="Add a comment" class="form-control"/>
                                            <input type="submit" value="Post" class="btn btn-outline-primary" style="margin-top: 10px; margin-bottom: 10px"/>
                                        </form>

                                        <span th:each="comment: ${image.getCommentList()}">
                                                               <!--<p th:text="${comment.getAccount().getName()} + ' commented on ' +
                                                                    ${#temporals.format(comment.getDateTime(), 'dd.MM.yyyy hh:mm')}" style="color: crimson"></p>
                                                                <p th:text="${comment.getContent()}" style="color: crimson; font-weight: bold"></p>-->
                                            <p th:text="${comment.getContent()}" style="color: crimson"></p>
                                            <span th:text="'Posted by ' + ${comment.getAccount().getName()} + ' on ' +
                                                ${#temporals.format(comment.getDateTime(), 'dd.MM.yyyy hh:mm')} + '   '" style="font-style: italic; font-size: small">Post date</span>
                                            </p>
                                            </span>


                                    </div>
                                </div>

                                        <!--<div>
                                            &lt;!&ndash; POST A COMMENT&ndash;&gt;
                                            <form th:action="@{/gallery/{nickname}/{id}/(nickname=${account.getNickname()}, id=${image.getId()})}" +
                                                  th:method="POST">
                                                <p>Post a comment: </p>
                                                <input type="text" name="comImg"/>
                                                <input type="submit" value="Post"/>
                                            </form>
                                            &lt;!&ndash;LIST ALL COMMENTS&ndash;&gt;
                                            <span th:each="comment: ${image.getCommentList()}">
                                                               <p th:text="${comment.getAccount().getName()} + ' commented on ' +
                                                                    ${#temporals.format(comment.getDateTime(), 'dd.MM.yyyy hh:mm')}" style="color: crimson"></p>
                                                                <p th:text="${comment.getContent()}" style="color: crimson; font-weight: bold"></p>
                                            </span>
                                        </div>-->


                            </div>


                </div>

        </div>

        <div class="col-6">

            <p>
            <h4>Add new picture</h4>

            <form method="POST" th:action="@{/mygallery}" enctype="multipart/form-data"></form>
            </p>

            <input type="file" name="file" id="file"  style="background-color: rgba(145,160,255,0.23); margin-bottom: 15px"/>


                <input type="text" name="description" id="description" placeholder="Add a description" class="form-control" style="margin-bottom: 15px"/>

                <input type="submit" value="Add" class="btn btn-outline-primary" style="background-color: rgba(145,160,255,0.23)"/>



        </div>

    </div>


</div>

</body>
</html>