<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>

        <h1 th:text="${account.getUsername() + 's profile page!'}">...whose page is this</h1>
        <!--
        Users profile page, which contains:
        - wall of messages (own and friends)
        - profile picture
        - link to picture gallery
        - list of followed profiles (who this profile is following)
        -->

        <img src="" alt="dick pic here">
        <br>

        <h2>Wall:</h2>
        <ul>
            <li th:each="message: ${account.getMessageList()}">
                <span> <p th:text="${message.getContent()}"></p>
                        <span th:text="'Posted by ' + ${message.getAccount().getUsername()} + ' on ' +
                            ${#temporals.format(message.getDateTime(), 'dd.MM.yyyy hh:mm')} + '   '">message here</span>
                        <span th:text="${'  Likes: ' + message.getLikedAccounts().size()}">Number of likes</span>
                            <form th:action="@{/account/{nickname}/{id}(nickname=${account.getNickname()}, id=${message.getId()})}"  +
                                  th:method="POST"><input type="submit" value="Like"></form>
                </span>
            </li>
        </ul>

        <br>

        <h2>Following at:</h2>
        <li th:each="account: ${account.getFollowingAt()}">
            <a th:href="@{/account/{nickname}(nickname=${account.getNickname()})}" th:text="${account.getUsername()}">name</a>
        </li>
        <h2>Following me:</h2>
        <li th:each="account: ${account.getFollowingMe()}">
            <a th:href="@{/account/{nickname}(nickname=${account.getNickname()})}" th:text="${account.getUsername()}">name</a>

            <!-- hide follow button if already following or if profile is users own-->
            <span th:if="${!account.getFollowingAt().contains(account)}">
                <form th:action="@{/users/{id}(id=${account.getId()})}" method="POST">
                    <input type="submit" value="Follow">
                </form>
            </span>

        </li>


        <h2>Post a new message:</h2>
        <form method="POST" th:action="@{/mypage}">
            <p>Content: </p><input type="text" name="content" id="content"/>
            <input type="submit" value="Post"/>
        </form>





        <!-- *********************-->
        <br><br>
        <h2>Links:</h2>
        <br><br>

        <a th:href="@{/gallery/{nickname}(nickname=${account.getNickname()})}">Photo gallery</a>

        <br><br>
        <a href="/users">Back to friend list</a>
        <br><br>


        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Log Out"/>
        </form>


    </body>
</html>