<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    // KORJAA
    <title>Title</title>
</head>
    <body>

        <h1>Your own page!</h1>

        <h2 th:text="${account.getUsername()}">my name</h2>

        <h3>Number of images in your gallery:</h3>
        <h3 th:text="${account.getPicGallery().size()}"></h3>

        <!--<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>-->

        <br>

        <h2>Add image to your personal gallery:</h2>
        <form method="POST" th:action="@{/mypage}" enctype="multipart/form-data">
            <input type="file" name="file" id="file"/>
            <input type="submit" value="Add"/>
        </form>

        <a href="/users">Back to friend list</a>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Log Out"/>
        </form>


    </body>
</html>