<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<head lang="en">
    <meta charset="UTF-8" />
    <title>Welcome to Tweeter! -Register-</title>
</head>
<body>

    <h2>Create a new account</h2>

    <form method="POST" th:action="@{/register}">
        <fieldset>
            <p>
                <label for="username">Username</label>
                <input type="text" name="username" id="username"/>
            </p>
            <p>
                <label for="password">Password</label>
                <input type="password" name="password" id="password"/>
            </p>
            <p>
                <label for="nickname">Nickname</label>
                <input type="text" name="nickname" id="nickname">
            </p>
            <p>
                <input type="submit" value="Create"/>
            </p>
            <p>
                * Minimum length for all credentials: 4 characters
            </p>
        </fieldset>

    </form>


    <span>

    </span>
    <div>
        <h2><a href="/login">Back to login</a> </h2>
    </div>
</body>
</html>
