<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Register</title>
    </head>
    <body>

        <h2>Create a new account</h2>

        <h2>Register here:</h2>
        <form method="POST" th:action="@{/register}">
            <label for="username">Username</label>
            <input type="text" name="username" id="username"/>
            <label for="password">Password</label>
            <input type="password" name="password" id="password"/>
            <label for="nickname">Nickname</label>
            <input type="text" name="nickname" id="nickname">
            <input type="submit" value="Create"/>
        </form>

        <div>
            <h2><a href="/login">To login page</a> </h2>
        </div>
    </body>
</html>
